USE [专用算薪系统]
GO
/****** Object:  Table [dbo].[薪酬结构_契约津贴_录入]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_契约津贴_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始时间] [date] NULL,
	[结束时间] [date] NULL,
	[约定年限] [int] NULL,
	[月津贴额度] [money] NOT NULL,
	[总额度] [money] NOT NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_契约津贴_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_契约津贴]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_契约津贴](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始时间] [date] NULL,
	[结束时间] [date] NULL,
	[约定年限] [int] NULL,
	[月津贴额度] [money] NOT NULL,
	[总额度] [money] NOT NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_契约津贴] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_录入]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始执行日期] [date] NULL,
	[类型] [nvarchar](10) NULL,
	[年薪_12个月] [money] NULL,
	[年薪_奖励] [money] NULL,
	[年薪_合计] [money] NULL,
	[月薪项目_月工资] [money] NULL,
	[月薪项目_年休假] [money] NULL,
	[月薪项目_满勤奖] [money] NULL,
	[月薪项目_交通餐饮补贴] [money] NULL,
	[月薪项目_小计] [money] NULL,
	[月薪项目_减项_绩效工资] [money] NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_工资借款_录入]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_工资借款_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始时间] [date] NULL,
	[结束时间] [date] NULL,
	[约定年限] [decimal](8, 2) NULL,
	[约定税率] [decimal](8, 2) NULL,
	[月借款额度] [money] NULL,
	[总借款额度] [money] NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_工资借款_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_工资借款_发放明细_录入]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_工资借款_发放明细_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[姓名] [nvarchar](10) NULL,
	[期间] [varchar](10) NULL,
	[年] [int] NULL,
	[月] [int] NULL,
	[约定税率] [decimal](8, 2) NULL,
	[月借款标准] [decimal](8, 2) NULL,
	[应出勤天数] [decimal](8, 2) NULL,
	[实际出勤天数] [decimal](8, 2) NULL,
	[实际借款金额] [decimal](8, 2) NULL,
	[代缴个税] [decimal](8, 2) NULL,
	[税后实发金额] [decimal](8, 2) NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_工资借款_发放明细_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_工资借款_发放明细]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_工资借款_发放明细](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[姓名] [nvarchar](10) NULL,
	[期间] [varchar](10) NULL,
	[年] [int] NULL,
	[月] [int] NULL,
	[约定税率] [decimal](8, 2) NULL,
	[月借款标准] [decimal](8, 2) NULL,
	[应出勤天数] [decimal](8, 2) NULL,
	[实际出勤天数] [decimal](8, 2) NULL,
	[实际借款金额] [decimal](8, 2) NULL,
	[代缴个税] [decimal](8, 2) NULL,
	[税后实发金额] [decimal](8, 2) NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_工资借款_发放明细] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_工资借款]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_工资借款](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始时间] [date] NULL,
	[结束时间] [date] NULL,
	[约定年限] [decimal](2, 0) NULL,
	[约定税率] [decimal](8, 2) NULL,
	[月借款额度] [money] NOT NULL,
	[总借款额度] [money] NOT NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_工资借款] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_报账工资_录入]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_报账工资_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始时间] [date] NULL,
	[结束时间] [date] NULL,
	[年度可报账标准_税前] [money] NULL,
	[月度可报账标准_税前] [money] NULL,
	[年度可报账标准_税后] [money] NULL,
	[月度可报账标准_税后] [money] NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_报账工资_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_报账工资_发放明细_录入]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_报账工资_发放明细_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[姓名] [nvarchar](10) NULL,
	[年] [int] NULL,
	[月] [int] NULL,
	[期间] [varchar](10) NULL,
	[上月剩余金额] [money] NULL,
	[上年剩余金额] [money] NULL,
	[实际报账金额] [money] NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_报账工资_发放明细_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_报账工资_发放明细]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_报账工资_发放明细](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[姓名] [nvarchar](10) NULL,
	[期间] [varchar](10) NULL,
	[年] [int] NULL,
	[月] [int] NULL,
	[上月剩余金额] [money] NULL,
	[上年剩余金额] [money] NULL,
	[实际报账金额] [money] NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_报账工资_发放明细] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_报账工资]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_报账工资](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始时间] [date] NULL,
	[结束时间] [date] NULL,
	[年度可报账标准_税前] [money] NULL,
	[月度可报账标准_税前] [money] NULL,
	[年度可报账标准_税后] [money] NULL,
	[月度可报账标准_税后] [money] NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_报账工资] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构]    Script Date: 05/21/2018 08:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[开始执行日期] [date] NOT NULL,
	[类型] [nvarchar](10) NULL,
	[年薪_12个月] [money] NULL,
	[年薪_奖励] [money] NULL,
	[年薪_合计] [money] NULL,
	[月薪项目_月工资] [money] NULL,
	[月薪项目_年休假] [money] NULL,
	[月薪项目_满勤奖] [money] NULL,
	[月薪项目_交通餐饮补贴] [money] NULL,
	[月薪项目_小计] [money] NULL,
	[月薪项目_减项_绩效工资] [money] NULL,
	[截止日期] [date] NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬结构_契约津贴_发放明细]    Script Date: 05/23/2018 10:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬结构_契约津贴_发放明细](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[姓名] [nvarchar](10) NULL,
	[期间] [varchar](10) NULL,
	[年] [int] NULL,
	[月] [int] NULL,
	[月津贴标准] [decimal](8, 2) NULL,
	[应出勤天数] [decimal](8, 2) NULL,
	[实际出勤天数] [decimal](8, 2) NULL,
	[实际发放金额] [decimal](8, 2) NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_薪酬结构_契约津贴_发放明细] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
