USE [专用算薪系统]
GO
/****** Object:  Table [dbo].[职级工资调整_录入]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[职级工资调整_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[薪酬体系] [nvarchar](20) NULL,
	[职等] [nvarchar](20) NULL,
	[期号] [int] NULL,
	[级差] [int] NULL,
	[半年调资额] [int] NULL,
	[每年调资额] [int] NULL,
	[年调率] [float] NULL,
	[平均工资] [int] NULL,
	[最低工资] [int] NULL,
	[最高工资] [int] NULL,
	[职等差] [int] NULL,
	[对比的职等] [nvarchar](20) NULL,
	[职等数] [int] NULL,
	[序号] [int] NULL,
	[开始执行日期] [datetime] NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_职级工资调整_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[职级工资调整]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[职级工资调整](
	[标识] [uniqueidentifier] NOT NULL,
	[薪酬体系] [nvarchar](20) NULL,
	[职等] [nvarchar](20) NULL,
	[期号] [int] NULL,
	[级差] [int] NULL,
	[半年调资额] [int] NULL,
	[每年调资额] [int] NULL,
	[年调率] [float] NULL,
	[平均工资] [int] NULL,
	[最低工资] [int] NULL,
	[最高工资] [int] NULL,
	[职等差] [int] NULL,
	[类型] [int] NULL,
	[对比的职等] [nvarchar](20) NULL,
	[职等数] [int] NULL,
	[序号] [int] NULL,
	[年调] [int] NULL,
 CONSTRAINT [PK_职级工资调整记录] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[职级工资标准_录入]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[职级工资标准_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[薪酬体系] [nvarchar](20) NULL,
	[职等] [varchar](20) NULL,
	[职级] [varchar](20) NULL,
	[期号] [int] NULL,
	[月薪] [int] NULL,
	[序号] [int] NULL,
	[开始执行日期] [datetime] NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
 CONSTRAINT [PK_职级工资标准_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[职级工资标准]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[职级工资标准](
	[标识] [uniqueidentifier] NOT NULL,
	[薪酬体系] [nvarchar](20) NULL,
	[职等] [varchar](20) NULL,
	[职级] [varchar](20) NULL,
	[期号] [int] NULL,
	[月薪] [int] NULL,
	[开始执行日期] [datetime] NULL,
	[序号] [int] NULL,
 CONSTRAINT [PK_职级工资标准] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[职级]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[职级](
	[标识] [uniqueidentifier] NOT NULL,
	[职等标识] [uniqueidentifier] NULL,
	[名称] [nvarchar](50) NULL,
	[序号] [int] NULL,
	[创建人] [nvarchar](20) NULL,
	[创建时间] [datetime] NULL,
 CONSTRAINT [PK_职级] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[职等]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[职等](
	[标识] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[薪酬体系] [nvarchar](20) NULL,
	[名称] [nvarchar](20) NULL,
	[对比的职等] [nvarchar](50) NULL,
	[职等数] [int] NULL,
	[序号] [int] NULL,
 CONSTRAINT [PK_职等] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[薪酬执行明细_删除]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬执行明细_删除](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[薪酬体系] [varchar](20) NULL,
	[期号] [int] NOT NULL,
	[职等] [nvarchar](20) NULL,
	[评定_职级] [varchar](20) NULL,
	[评定_月薪] [int] NULL,
	[执行_职级] [varchar](20) NULL,
	[执行_月薪] [int] NULL,
	[执行_月薪类型] [nvarchar](20) NULL,
	[开始执行日期] [datetime] NULL,
	[序号] [int] NULL,
	[备注] [nvarchar](50) NULL,
	[创建时间] [datetime] NULL,
	[调整类型] [nvarchar](20) NULL,
	[群组] [nvarchar](20) NULL,
 CONSTRAINT [PK_薪酬执行明细_历史] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬执行明细_录入]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬执行明细_录入](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[薪酬体系] [varchar](20) NOT NULL,
	[期号] [int] NOT NULL,
	[职等] [nvarchar](20) NULL,
	[评定_职级] [varchar](20) NULL,
	[评定_月薪] [int] NULL,
	[执行_职级] [varchar](20) NULL,
	[执行_月薪] [int] NULL,
	[执行_月薪类型] [nvarchar](20) NULL,
	[开始执行日期] [datetime] NULL,
	[序号] [int] NULL,
	[录入人] [nvarchar](20) NULL,
	[录入时间] [datetime] NULL,
	[是验证录入] [bit] NULL,
	[生效时间] [datetime] NULL,
	[备注] [nvarchar](50) NULL,
	[调整类型] [nvarchar](20) NULL,
	[群组] [nvarchar](20) NULL,
 CONSTRAINT [PK_薪酬执行明细_录入] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[薪酬执行明细]    Script Date: 01/29/2018 09:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[薪酬执行明细](
	[标识] [uniqueidentifier] NOT NULL,
	[员工编号] [varchar](20) NOT NULL,
	[薪酬体系] [varchar](20) NULL,
	[期号] [int] NOT NULL,
	[职等] [nvarchar](20) NULL,
	[评定_职级] [varchar](20) NULL,
	[评定_月薪] [int] NULL,
	[执行_职级] [varchar](20) NULL,
	[执行_月薪] [int] NULL,
	[执行_月薪类型] [nvarchar](20) NULL,
	[开始执行日期] [datetime] NULL,
	[截止日期] [datetime] NULL,
	[序号] [int] NULL,
	[备注] [nvarchar](50) NULL,
	[调整类型] [nvarchar](20) NULL,
	[群组] [nvarchar](20) NULL,
 CONSTRAINT [PK_薪酬执行明细] PRIMARY KEY CLUSTERED 
(
	[标识] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_职等_序号]    Script Date: 01/29/2018 09:00:20 ******/
ALTER TABLE [dbo].[职等] ADD  CONSTRAINT [DF_职等_序号]  DEFAULT ((0)) FOR [序号]
GO
/****** Object:  Default [DF_职级工资调整_序号]    Script Date: 01/29/2018 09:00:20 ******/
ALTER TABLE [dbo].[职级工资调整] ADD  CONSTRAINT [DF_职级工资调整_序号]  DEFAULT ((0)) FOR [序号]
GO
/****** Object:  Default [DF_职级工资调整_录入_序号]    Script Date: 01/29/2018 09:00:20 ******/
ALTER TABLE [dbo].[职级工资调整_录入] ADD  CONSTRAINT [DF_职级工资调整_录入_序号]  DEFAULT ((0)) FOR [序号]
GO
